<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>
</head>
<body>
    <form action="/login" method="post">
        <legend>Please Login</legend>

        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>

        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>

        <button type="submit" class="btn">Log in</button>
    </form>
</body>
</html>